* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', arial;
    box-sizing: border-box;
}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}
header img {
    width: 100%;
    display: block;
}
article {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}
article h1 {
    font-size: 31px;
    text-align: center;
    margin: 0 5% 20px;
    padding-bottom: 14px;
    border-bottom: 4px solid #000000;
    font-family: 'Roboto', arial;
    color: rgb(0, 0, 0);
}
article h3 {
    font-size: 15px;
    text-align: center;
    margin: 0 5% 5px;
    padding-bottom: 14px;
    font-family: 'Roboto', arial;
    color: rgb(0, 0, 0);
}
article img.potrawa {
    max-width: 100%;
}
article img.potrawa2 {
    max-width: 100%;
    width: 49.68%;
    position: relative;
}
article p {
    color: black;
}
footer {
    background-color: #f7f3f3;
    height: 20px;
    color: black;
    text-align: center;
    line-height: 20px;
    margin: 3px 0 0px 0;
    border-radius: 0%;
  }